<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #4e4e9c;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contact-info {
            display: flex;
            align-items: center;
        }

            .contact-info a {
                margin-right: 10px;
                color: #fff;
                text-decoration: none;
            }

        .icons {
            display: flex;
            align-items: center;
        }

            .icons i {
                margin-right: 10px;
                color: #fff;
            }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="contact-info">
            <!-- İletişim bilgilerini sol tarafta buraya ekleyebilirsiniz -->
            <a href="#">Iletisim: ozcanbeyza089@gmail.com</a>
            <a href="#">Telefon:(---)-----</a>
        </div>

        <div class="icons">
            <!-- Başka ikonları buraya ekleyebilirsiniz -->
           
            <a href="https://www.instagram.com/soy4zul/" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/in/beyza-%C3%B6zcan-3699b3339/" target="_blank">
                <i class="fa fa-linkedin"></i></a>


            <!-- ... -->
        </div>
    </div>

    <!-- Diğer sayfa içeriği buraya gelecek -->

</body>
</html>